$primary: #032d6b !default;
$primary-100: #126fac !default;
$gray: #7d8389 !default;
$white: #fff !default;
$yellow: #fbd243 !default;
$black: #333 !default;
$green: #4ca346 !default;

@font-face {
  font-family: Gotham-Light;
  src: url("fonts/Gotham/Gotham-Light.otf") format("opentype");
}
@font-face {
  font-family: Gotham-Medium;
  src: url("fonts/Gotham/Gotham-Medium.otf") format("opentype");
}
@font-face {
  font-family: Gotham-Medium;
  src: url("fonts/Gotham/Gotham-Book.otf") format("opentype");
}

*,
::after,
::before {
  box-sizing: border-box;
}
body,
html {
  width: 100%;
  height: 100%;
}

p {
  line-height: 2em;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.fa-check {
  font-weight: bold;
  color: $green;
  padding-right: 5px;
}

.fa-circle {
  font-size: 8px;
  color: $gray;
}

.h-logo {
  width: 250px;
  height: 60px;
}

.step-num {
  background-color: orange;
  color: #fff;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  text-align: center;
  padding: 10px 0px;
  font-weight: bold;
  font-family: Gotham-Medium !important;
  font-size: 12px !important;
  position: absolute;
  top: 43px;
  left: 10px;
}

.input-div {
  margin-top: 2em;
  position: relative;
  span {
    display: block;
    font-family: Gotham-Medium;
    font-size: 18px;
    color: $white;
  }
  a {
    text-decoration: none;
    color: $white;
  }
}

.input-div:last-child {
  margin-top: 1em;
  span {
    text-align: center;
  }
}

.navbar {
  background-color: $white;
  padding-top: 20px;
  padding-bottom: 20px;
  .tagline {
    color: $primary;
    position: relative;
    top: -20px;
    font-family: Gotham-Medium;
  }
  .lm-services {
    float: right;
    span {
      display: block;
      color: $black;
      display: block;
      font-family: Gotham-Book;
      font-size: 14px;
      line-height: 20px;
    }
  }
}

.first-section {
  height: 550px;
  padding-top: 30px;
  padding-bottom: 60px;
  background-color: $primary;
  background-image: linear-gradient(
    to right,
    $primary,
    $primary-100,
    $primary-100
  );

  .heading {
    font-family: "Gotham-Light", sans-serif;
    font-weight: 100;
    font-size: 40px;
    color: $white;
    line-height: 45px;
    span {
      font-family: "Gotham-Medium", sans-serif;
      font-size: 32px;
      display: block;
    }
  }
  form,
  .review-div {
    width: 45%;
  }
  form {
    float: left;
    .placeholder-hide {
      display: none;
    }
    input,
    select {
      margin-top: 10px;
      border-radius: 50px;
      width: 100%;
      text-align: left;
      font-size: 15px;
      font-family: Gotham-Medium;
      font-weight: 100;
      color: #4e555c;
      // padding: 20px 25px;
      padding: 20px 25px 20px 60px;
      border: none;
      outline: none;
      &:focus {
        box-shadow: 1pt 0 3pt 3pt $primary-100;
      }
    }
    span {
      color: $white;
      font-family: Gotham-Book;
    }
  }
  .review-div {
    margin-left: auto;
    float: right;
    .fa-star {
      font-size: 13px;
      color: #eaa40d;
    }
    .review-heading {
      font-family: Gotham-Book;
      font-size: 18px;
      font-weight: 100;
      color: $white;
    }
    .r-card {
      color: $white;
      font-family: Gotham-Book;
      border-bottom: 1px solid rgba(255, 255, 255, 0.14901960784313725);
      padding-bottom: 10px;
      padding-top: 10px;
      span {
        display: block;
      }
    }
    .r-card:last-child {
      border-bottom: none;
    }
    .r-profile {
      float: left;
      display: block;
      text-align: center;
      margin-right: 3%;
    }
    .r-profile > span,
    .r-title {
      font-size: 13px;
      font-family: Gotham-Medium;
    }
    .r-desc {
      font-size: 13px;
      font-style: italic;
      margin-top: 10px;
    }
    .r-url {
      text-align: right;
      a {
        text-decoration: none;
        color: $yellow;
        font-size: 13px;
      }
    }
    .r-ratings {
      font-size: 11px;
      font-style: italic;
      margin-top: 10px;
      a {
        color: $yellow;
        font-style: normal;
        text-decoration: none;
      }
    }
  }
}

footer {
  .container {
    padding-top: 40px;
    padding-bottom: 40px;
    height: 200px;
  }
  .col-3:first-child {
    width: 25%;
    float: left;
  }
  .col-3:nth-child(2) {
    text-align: center;
    float: left;
    width: 50%;
  }
  .col-3:last-child {
    float: right;
    width: 20%;
    img {
      display: block;
      width: 100%;
      max-width: 150px;
    }
    img:first-child {
      margin-bottom: 20px;
    }
  }
  .footer-nav {
    font-family: Gotham-Medium;
    margin: 20px 20px 40px;
    padding: 0;
    li {
      list-style-type: none;
      display: inline-block;
      padding: 0 15px;
    }
    a {
      text-decoration: none;
      color: $gray;
    }
  }
  .lm-property {
    font-family: Gotham-Book;
    font-size: 13px;
    color: $gray;
  }
}

/* Reset Select */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: $white;
  background-image: none;
}
/* Custom Select */
.select {
  position: relative;
  display: block;
  width: 20em;
  height: 3em;
  line-height: 3;
  background: $white;
  overflow: hidden;
  border-radius: 0.25em;
  ::after {
    content: "\25BC";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0 1em;
    background: $gray;
    pointer-events: none;
    -webkit-transition: 0.25s all ease;
    -o-transition: 0.25s all ease;
    transition: 0.25s all ease;
  }
  &:hover::after {
    color: #f39c12;
  }
  ::-ms-expand {
    display: none;
  }
}
select {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 0 0 0.5em;
  color: #fff;
  cursor: pointer;
}
